body{
	font-family: Varela Round;
}

h1{
	letter-spacing: 4px;
	font-size: 4em;
}

h2{
	letter-spacing: 2px;
	font-size: 2em;
}

p{
	font-family: Source Code Pro;
	letter-spacing: 2px;
}

.creative{
	padding: 1.5em;
	text-align: justify;
	letter-spacing: 1px;
}

li{
	font-family: Source Code Pro;
	list-style-type: none;
}

.footer-icon {
	font-size: 3em;
}

#footer{
	background-color: rgba(0, 0, 0, 0.8);
	color: #CCD1D8;
	padding: 3em;
}

#footer a{
	color: #CCD1D8
}

#wrapper{
	background-image:url(../image/background.jpg); 
	height: 800px;
	background-size: cover;
	text-align: center;
	padding-top: 300px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.word-color{
	color: #80868C;
}

.punch-line{
	font-size: 1.5em;
	line-height: 1.5em;
	background: rgba(161, 169, 176, 0.3);
    display: inline-block;
}

.spacer{
	height: 6em;
}

.navbar-brand{
	letter-spacing: 2px;
	vertical-align: center;
}

.navbar-transparent{
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #CCD1D8;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: #CCD1D8;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: #CCD1D8;

}

.navbar-default .navbar-toggle {
	border: none;
}

.image-team{
	border-radius: 50%;
    width:20%;
    height:20%;
    }

.team{
	margin: 2em;
}

.avatar-center{
	text-align: center;
}

.social-btn { 
	width: 45px; 
	height: 45px; 
	border-radius: 50%; 
	background: rgba(0, 0, 0, 0.7); 
	display: inline-block; 
	color: #FFFFFF; 
	font-size: 1.5em; 
	line-height: 2em; 
	text-align: center; 
}
.social-btn:hover, .social-btn:focus { 
	background: #CCD1D8; 
	color: #FFFFFF; 
}

.team-env{
	font-size: 1em;
}

.fa-map-marker{
	font-size: 1.5em;
}

.circle {
  height: 100px;
  width: 100px;
  line-height: 100px;
  max-width: 100%;
  background: rgba(60, 151, 216, 0.6);
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  color: #FFFFFF;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 50px;
}

.shadow{
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.separateur{
	width: 900px;
	overflow: visible;
	margin: 25px auto auto;
	border-bottom: 1px solid #D4D5D9;
}

.quote{
	text-align: center;
	font-size: 1.5em;
}

